.background  {

    width: 100vw;
    height: 100vh;
   display: flex;
   flex-direction:row ;
justify-content: space-around;
    padding-top: 5rem;
}

.section-school_imagen  {
width: 50rem;
    margin-top: 12rem;
    margin-left: -7rem;
}

.logo  {
width: 20rem;
    margin-top: 12rem;
    margin-left: 7rem;
}

